{% extends 'base.html' %}
{% block header %}
 <title>admin login </title>

{% endblock %}

{% block body %}
<h1>ورود به پنل مدیریت</h1>
        <form action="#" method="post">
            <label>
                <input type="text" name="username" placeholder="نام کاربری"><br>
            </label><br>
            <label>
                <input type="password" name="password" placeholder="رمز عبور"><br>
            </label><br>
            <input type="submit" value="ورود">
        </form>
{% endblock %}
